#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 40px;
    
    
}

#nav_list{
    margin-right: 160px;
}


img#nav_logo{
    width: 220px; /* Altere conforme necessário para ajustar o tamanho */
    object-fit: contain; /* Garante que a imagem mantenha a proporção */
    margin-right: 10px; /* Espaço entre o logo e o próximo conteúdo */
    vertical-align: middle; /* Alinha a imagem com o texto */

}

#cta .title {
    font-size: 3.5rem;
    color: var(--color-neutral-1);;
    line-height: 60px;
}

#menu .title {
    font-size: 3.5rem;
    color: var(--color-neutral-1);;
    line-height: 60px;
}

#cta .title span {
    color: var(--color-primary-6);
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
}

#cta_buttons a.login_button {
    text-decoration: none;
    color: #172E66;
}

.login_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    color: #172E66;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

p.description{
    color: var(--color-neutral-1);
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    margin-right: -110px;
    width: fit-content;
    margin-top: -150px;
    height: 110%;
}

.shape {
    background-color: #0D5DA0;
    width: 45%;
    height: 80%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    #phone_button button {
        display: none;
    }
    #cta .title {
        font-size: 3.0rem;
        color: var(--color-neutral-1);;
        line-height: 60px;
    }

    #menu .title {
        font-size: 2.8rem;
        color: var(--color-neutral-1);;
        line-height: 60px;
    }
    #menu h3.section-subtitle {
        font-size: 1.3rem;
        
    }

    
}